* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/12.jpg");
  background-size: cover;
  font-family: "montserrat";
  z-index: 2;
}
body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
}

button {
  background: none;
  border: none;
}
button:focus {
  outline: none;
}

h2.info {
  position: absolute;
  font-size: 4.5vw;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  pointer-events: none;
  user-select: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.nav-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 12;
}
.nav-button.close .line__1 {
  transform: rotate(45deg) translate(2px, -3px);
}
.nav-button.close .line__2 {
  transform: rotate(-45deg);
}
.nav-button.close .line__3 {
  transform: rotate(45deg) translate(-2px, 3px);
}
.nav-button .line {
  width: 25px;
  background: #fff;
  height: 2px;
  margin: 3px 0;
  transition: all 350ms cubic-bezier(0.9, 0, 0.33, 1);
}
.nav-button .line__1 {
  width: 25px;
  transform-origin: left;
}
.nav-button .line__2 {
  width: 25px;
  transform-origin: center;
}
.nav-button .line__3 {
  width: 25px;
  transform-origin: right;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
nav ul {
  position: relative;
  height: 600px;
  width: 300px;
}
nav ul li {
  position: absolute;
  width: 100%;
  list-style: none;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 10;
}
nav ul li:nth-child(1) {
  top: 20%;
}
nav ul li:nth-child(2) {
  top: 40%;
}
nav ul li:nth-child(3) {
  top: 60%;
}
nav ul li:nth-child(4) {
  top: 80%;
}
nav ul li a {
  position: relative;
  font-size: 2.8rem;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
}
nav ul li a::after {
  position: absolute;
  content: attr(data-text);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  clip-path: polygon(100% 100%, 100% 0px, 100% 100%, 0% 100%);
  transition: all 250ms ease;
  pointer-events: none;
}
nav ul li a:hover::after {
  clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% 100%);
}
nav .nav__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.85);
  backdrop-filter: blur(5px);
  transform: scaleY(0);
  z-index: 10;
}