*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/12.jpg");
    background-size: cover;
    font-family: "montserrat";
    z-index: 2;
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px)
}
.clock{
	width: auto;
}
.flip-clock-dot{
	background: #ccc;
}
.flip-clock-meridium a{
	color: #ccc;
}
.flip-clock-wrapper{
	width: 550px;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%,-50%); 
}