* {
	margin: 0;
	padding: 0;
}

body, html {
	background-color: black;
	color: white;
}

svg {
	position: absolute;
}

polyline {
	fill: transparent;
}

div {
	opacity: 0;
	transition: opacity 0.5s;
}