html{
	min-width: 776px;
}

*{
	padding:0px;
	margin:0px;
	border:none;
}

ul,li,ol,dd,dt{
	list-style: none;
}

table{
	border-collapse:collapse;
	border-spacing: 0;
}
img {border: 0;vertical-align: top;}
img{
	max-width: 100%;
	height: auto;
	width: auto\9;
	-ms-interpolation-mode: bicubic;
}
body{
	margin:0px;
	padding:0px;
	border:0px;
	color:#000;
	font-size:14px;
	line-height: 160%;
	/*text-align: center;
	background: #6D89DD;*/
	font-family: '宋体','新宋体',arial,verdana,sans-serif;
	position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/12.jpg");
    background-size: cover;
    z-index: 2;
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px)
}

a{
	margin:0px;
	padding:0px;
	border:0px;
	text-decoration: none;
}
a:link{
	color:#000;
}
a:hover{
	color:#637DBC;
}

pre{
	text-indent: 0px;
	background: #DDDDDD;
	color:blue;
}

.clearfix{zoom:1;}
.clearfix:after { /*在类名为“clearfix”的元素内最后面加入内容*/
    content: "."; /*内容为“.”就是一个英文的句号而已。也可以不写*/
    display: block; /*加入的这个元素转换为块级元素*/
    clear: both; /*清除左右两边浮动*/
    visibility: hidden; /*可见度设为隐藏。注意它和display:none;是有区别的。仍然占据空间，只是看不到而已*/
    height: 0; /*高度为0*/
    font-size: 0; /*字体大小为0*/
    overflow: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

textarea{ /* 文本域拉伸，根据需求而定 */
	resize: none；
}

input,input[type=submit],
[type=reset],[type=button]{
	-webkit-appearance: none;
	resize: none;
}

.clear_fix::after{
	content: " ";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

/* 单行溢出 */
.spill{
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 多行溢出 */
.spills{
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
}

/* 设置背景文字颜色 */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
	color: #ccc;
}

